.App {
  text-align: center;
}
.parent-container{
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 border: 1px solid white;
 background-color: #ffBF00;

}
.child-container{
  height: 50vh;
  width: 45vh;
  border: 5px solid darkblue;
  background-color: #282c34;
  border-radius: 10px;
  overflow: scroll;

}
.heading{
  font-size: 40px;
  margin-top: 5px;
}
.inputStyle{
  padding: 5px 20px ;
  width: 60%;
  font-size: 1.3rem;
  border: 5px solid #ffBF00;
  border-radius: 10px;
}
.buttonStyle{
  padding: 5px ;
  width: 10%;
  font-size: 1rem;
  border: 5px solid #ffBF00;
  border-radius: 10px;

}
.child-container::-webkit-scrollbar {
  display: none;
}
  
.buttonStyle2{
  border: 2px solid red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
